{% extends 'base.html' %}

{% block main %}

<head>
    <title>Profile - Daneel Nichol</title>
</head>
<header>
    <img src="{{url_for ('static', filename='avatar.jpg') }}" alt = "Daneel Nichol's Avatar"> 
     <h1 id="name" >Daneel Nichol</h1>
    <p id="username"> @danichol</p>
    <p id="location"> St. Catherine, Jamaica </p>
    <p id="datejoined"> Joined: {{ date }} </p>
</header>

<body>
    <p id="about">As a third year Statistical Science Student, I have no clue what to write. I guess I could write about my hobbies which include bullet journalling, watching travel vlogs on Youtube and cooking. Or, maybe I could mention that I have no idea what I want to do in the future, but I know it includes Data Science. Yeah, I guess that summarizes this 24 year old Stats major</p>

   <div id="info">
            <h3 id="posts"> 7 </h3>
            <p> Posts</p>
       
            <h3 id="following"> 100 </h3>
            <p> Following </p>
    
            <h3 id="followers"> 250 </h3>
            <p> Followers</p>
   </div>
    <div>
        <button class="btn">Follow</button>
    </div>
</body>

{% endblock %}